<style>
	
	#header{
		font-size: 150px;
		color: #1F39C2;
		background-color: #CAA153;
	}
	
	#footer{
		background-color: blue;
		background-image: url("C:\Users\gmartinez146\Desktop\Gilbert-Final\Website\Pictures\Bottom-Background-of-Website.png");
	}
</style>